.nav-bar {
    background: #fff;
    width: 100%;
    border-radius: 15px;
    height: 80px;
    position: absolute;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    .logo {
        justify-content: start;
        grid-column: 2/3;
        align-items: start;
        img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
        }
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
        a {
            font-size: 20px;
            display: block;
            color: #fff;
            height: 51px;
            position: relative;
            text-decoration: none;
            i {
                transition: all 0.3s ease-out;
            }
            &:hover {
                color: #ffd700;
                svg {
                    opacity: 0;
                }
                &:after {
                    opacity: 1;
                }
            }
            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
            &:first-child {
                &::after {
                    content: 'HOME';
                }
            }
        }
        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }
        a.contact-link {
            &:after {
                content: 'CONTACT'
            }
        }
        a.active {
            svg {
                color: rgb(19, 8, 84);
            }
        }
    }
}

ul {
    display: flex;
    list-style-type: none;
    margin-top: 25px;
    text-align: right;
    margin-bottom: 10px;
    justify-content: space-around;
    grid-template-columns: 3fr repeat(3, 1fr);
}

ul li:first-child {
    grid-column: 1/2;
}

.facebook {
    color: #3b5998;
}

.linkedin {
    color: #0077b5;
}

.github {
    color: #171515;
}

.instagram {
    color: #c32aa3;
}

.hamburger-menu {
    display: none;
}